<footer>
    <div class="footer-container">
        <p>Ingenieria en sistemas de informacion y ciencias de la computacion</p>
        <p>Correo: bpars@miumg.edu.gt </p>
        <div class="footer-social">
            <a href="https://www.linkedin.com/in/brenton-andony-par-sohon-50598b323/" target="_blank">LinkedIn</a> |
            <a href="https://github.com/Andonyps" target="_blank">GitHub</a>
        </div>
    </div>
</footer>
