<header>
    <div class="header-container">
        <h1 class="header-title">{{nombre}}</h1>
        <!-- Botón para mostrar el menú -->
        <button id="menuButton" class="menu-button" onclick="toggleMenu()">☰</button>
    </div>

</header>
