<button id="menu-toggle" class="menu-button">☰</button> <!-- Botón para desplegar el menú -->

<div id="menu" class="hidden"> <!-- Contenedor del menú -->
    <ul>
        <li><a href="/">Acerca de mi</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</div>
