<button id="menu-toggle" class="menu-button">☰</button> 

<div id="menu" class="hidden"> 
    <ul>
        <li><a href="/">Acerca de mi</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/contacto">Conoceme y Contactame</a></li>
    </ul>
</div>
