<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="./css/contacto.css">
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/contacto2.css">
</head>
<body>
   {{> header}} 
   {{> menu}}

    <section id="about">
        <h2>Acerca de mí</h2>
        <p>Soy Andony Par, Un joven con vision de convertirse en algo mejor y seguir aprendiendo dia con dia en cualquier ambito que este.</p>
        <img src="./imagenes/yo.jpg" alt="Foto de perfil">
    </section>

    <section id="hobbies">
        <h2>Hobbies</h2>
        <ul>
            <li><strong>Fotografía:</strong> Me gusta capturar momentos y explorar nuevas técnicas.</li>
            <li><strong>Musica:</strong> Ejecuto un instrumento el cual es la trompeta y me gusta seguir temas en mis tiempos libres.</li>
            <li><strong>Conocer mi pais:</strong> Me gusta salir a conocer nuevos lugares y he recorrido ya gran parte de mi hermosa Guatemala.</li>
        </ul>
    </section>

     <section id="portfolio">
        <h2>Mis Estudios</h2>
        <p>A continuación, algunos de los estudios que he realizado:</p>
        
        <div class="project">
            <h3>Licenciatura en Ingeniería en Sistemas de Información y ciencias de la Computación</h3>
            <p>Universidad Mariano Galves de Guatemala Sede Solola, 2021 - Actualidad. Donde se a adquirido conocimiento de varias ramas de la informatica como programacion, redes, bases de datos y muchos temas mas.</p>
        </div>

                <div class="project">
            <h3>Perito contador con orientacion en Computación</h3>
            <p>Instituto de Ciencias Comerciales Argueta Solola ICCAS, 2018 - 2020. Donde se a adquirido conocimiento de las ramas de la contabilidad y parte de informatica.</p>
        </div>

        <div class="project">
            <h3>Cursos en Linea</h3>
            <h3>Platzi. </h3>
            <p>Cursos obtenidos</p>
            <p>Fundamentos de bases de datos</p>
            <p>Introduccion a la terminal y Lineas de comando</p>
            <p>Curso de Git y Github</p>
        </div>

        
    </section>
    
    <section id="contact">
        <h2>Contacto</h2>
        <p>Si deseas ponerte en contacto conmigo, puedes enviarme un mensaje o encontrarme en redes sociales.</p>
        
        <div class="contact-methods">
            <p><strong>Correo:</strong> <a href="andony71002@gmail.com">andony71002@gmail.com</a></p>
            <p><strong>Teléfono:</strong> +502 0000000</p>
            

        </div>
    </section>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
   {{>footer}}
   <script src="js/menu.js"></script>
</body>
</html>