<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Proyectos</title>
    <link rel="stylesheet" href="./css/proyectos.css">
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/contacto.css">
</head>
<body class="proyectos">
    {{> header }}
    {{> menu }}

    <section class="projects">
        <div class="project-card">
            <img src="./imagenes/Estructuras.png" alt="Project 1">
            <h2>Estructuras de datos.</h2>
            <p>Utilizacion de estructuras basicas en programas</p>
            <a href="/proyecto1" class="link-button">Ver Proyecto</a>
        </div>
        
        <div class="project-card">
            <img src="./imagenes/ajedrez.png" alt="Project 2">
            <h2>Juego de ajedrez</h2>
            <p>Se desarrolla videojuego utilizando los principios de POO</p>
            <a href="/proyecto2" class="link-button">Ver Proyecto</a>
        </div>

        <div class="project-card">
            <img src="./imagenes/compilador.png" alt="Project 3">
            <h2>Compilador y analizador</h2>
            <p>Analiza la porcion de codigo que le ingresemos y si este es correcto o no</p>
            <a href="/proyecto3" class="link-button">Ver Proyecto</a>
        </div>

        <div class="project-card">
            <img src="./imagenes/infomaquina.png" alt="Project 4">
            <h2>Informacion sobre equipo</h2>
            <p>En un ambiente mucho mas agradable podemos monitorear todo nuestro equipo</p>
            <a href="/proyecto4" class="link-button">Ver Proyecto</a>
        </div>

        <div class="project-card">
            <img src="./imagenes/formulario.jpg" alt="Project 5">
            <h2>Formulario de carga de informacion a la IVE</h2>
            <p>Se desarrolla pensando en agilizar el trabajo de un departamento</p>
            <a href="/proyecto5" class="link-button">Ver Proyecto</a>
        </div>

        <div class="project-card">
            <img src="./imagenes/proyectoetica.png" alt="Project 6">
            <h2>Pagina web principios.</h2>
            <p>Se desarrolla pagina web como proyecto donde se expresan principios vistos en clases</p>
            <a href="/proyecto6" class="link-button">Ver Proyecto</a>
        </div>

        <div class="project-card">
            <img src="./imagenes/Formularioinformacion.png" alt="Project 7">
            <h2>Formulario de informacion </h2>
            <p>Se desarrolla un formulario el cual nos permite realizar calculos de pago de jubilacion.</p>
            <a href="/proyecto7" class="link-button">Ver Proyecto</a>
        </div>
    </section>

    <p>Proyectos realizados</p>
    <p>Brenton Andony</p>
    <p>UMG</p>
    <p>.</p>
    {{> footer }}
    <script src="js/menu.js"></script>
</body>
</html>
